*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: $bg-color;
    line-height: 1.65;
    font-family: $font;
    color: $black;
    overflow-x: hidden;
}

a, a:hover, a:focus, a:visited {
    text-decoration: none;
    color: currentColor;

}

h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}

button {
    line-height: 1;
    padding: 0;
    margin: 0;
    border: none;
    font-family: inherit;
    text-decoration: none;
    background: none;
    cursor: pointer;
    color: currentcolor;
  }

hr {
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    border-top: 1px solid lightgray;
}