header {
    min-height: 80vh;
    background-image: linear-gradient(rgba(black, .6), rgba(black, .6)), url(../images/hero-image-600.jpg);
    background-size: cover;
    background-position: center center;
    color: $white;

    .top-nav {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .headlines {

        text-align: center;
        line-height: 1.1;

        h1 {
            text-transform: uppercase;
            font-weight: $font-black;
            letter-spacing: .1em;
            font-size: 2rem;
            margin-top: 5rem;
        }

        h2 {
            font-weight: $font-semi-bolt;
            margin: .5rem 0;
        }  
    }
    
    nav {
        margin-top: 1.5rem !important;
        padding: 0 3%;
        padding-bottom: 3rem !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem
    }
}