header {
    min-height: 80vh;
    background-image: linear-gradient(rgba(black, .6), rgba(black, .6)), url(../images/hero-image-600.jpg);
    background-size: cover;
    background-position: center center;
    color: $white;
}