$bg-color: #F9F9F9;
$bg-color-2: #F0F4F7;
$clr-cta: #FF2C39;
$clr-cta-light: #FF5E68;
$white: #eee;
$pure-white: #fff;
$black: #2D2D2D;
$grey: #686868;
$color-featured: #5F81FF;

$color-facebook: #3b5998;
$color-insta: #C13584;
$color-twitter: #1DA1F2;

$btn-background-color: rgba(255, 255, 255, .24);

$font: 'Nunito Sans', sans-serif;
$font-xlight: 200;
$font-regular: 400;
$font-semi-bolt: 600;
$font-bold: 700;
$font-xbold: 800;
$font-black: 900;

$space-small: 3%;
$space-medium: 5%;